attrs
Automat
beautifulsoup4~=4.9.1
bs4
certifi
cffi
chardet
colorama
constantly
cryptography
cssselect
et-xmlfile
fake-useragent
html2text
hyperlink
idna
imgii
incremental
jdcal
lxml~=4.5.2
mysqlclient
openpyxl~=3.0.4
parsel
Pillow
pip
pkg-resources
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
PyMySQL
pyOpenSSL
python-dateutil
PyYAML
queuelib
requests~=2.24.0
Scrapy~=2.2.0
service-identity
setuptools~=49.2.0
six
soupsieve
SQLAlchemy
tqdm
tread
Twisted
urllib3~=1.25.9
w3lib
wheel
zope.interface
selenium~=3.141.0
demjson

numpy~=1.19.1
matplotlib~=3.3.1